*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:3px inset rgba(221, 221, 219, 0.805) ;
    padding: 5px 0;
    
}
.img-map{
width: 14px;
}
.logo{
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-top: 10px;
}
.logo img{
    width: 50px;
}

.nav-links li{
   list-style-type: none;
   text-decoration: none;
   display: inline-block;
   padding: 10px;
}
.nav-links a{
    text-decoration: none;
    color: black;
    display: inline-block;
}
.button a{
    text-decoration: none;
    color: black;
    font-size: px;
    font-weight: 400;
    padding-right: 40px;

   
}
button {
    border: 2px solid rgb(32, 31, 31); 
    background: transparent;
    padding: 10px;
    border-radius: 20px;
    margin-right: 20px;
    width: 90px;   
}

.button-one{
    align-items: center;
    width: 90px;
}
.button-two{
    background-color: black;
    color: aliceblue;
    cursor: pointer;
}
.button-two:hover{
    background-color: rgba(0, 0, 0, 0.8);
}
.find{
    cursor: pointer;
    color: black;
}
.find:hover{
    color:green;
}
/* hero-div------------------- */

.hero-div{
    width: 100%;
    height: 700px;
    display: flex;
    padding: 25px 10px;
}
.img-div{
    width: 50%;
    height: 100vh;
    overflow: hidden;
}
.img-div img{
    width: 100%;
    height: 700px;
}
.text-div{
    background-color: #41B8EA;
    width: 50%;
    height: 700px;
    align-items: center;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    
}

.text-div h1,
.text-div p {
    
    text-align: center; }
.text-div h1 {
    font-size: ;
    text-align: center; 
    font-size: 40px; 
    letter-spacing: 2px;
    font-weight: bold; 
    color: #000000; 
    margin-bottom: 10px;
    padding: 20px;
} 
.text-div p {
    line-height: 40px;
    font-size: 20px;
    font-weight: 200px;
}
/* container-one------------------- */
.container-one{
    display: flex;
    padding: 5px 10px;
    margin-top: 50px;
    width: 100%;
}
.text-col{
    background-color: #96D9B1;
    width: 50%;
    align-items: center;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    margin: 0;
}
.img-col{
    width: 50%;
    margin: 0;
    margin-bottom: -4px;
}
.img-col img{
    width: 100%;
}
.text-col h3{
    color: #ddd01f;
    margin: 0;
    padding: 0%;
    font-size: 30px;
    margin: 0;
}
.text-col p{
    line-height: 40px;
    margin: 0;
    padding: 0%;
    padding: 20px;
    margin: 0;
}
.container-one button{
    width: 100px;  
    margin: 0;
}
.container-one button a{
    color: #000000;
    font-size: 15px;

}

/* container-two------------------- */
.container-two{
    display: flex;
    padding: 0 10px;
    margin-top: 50px;
    width: 100%;
}
.text-col-two{
    background-color: #D5E8E0;
    width: 50%;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    
}
.img-col-two{
    width: 50%;
    margin-bottom: -4px;
}
.img-col-two img{
    width: 100%;

}
.container-two h3{
    font-size: 30px;
    margin: 0;
    padding: 10px;
    color: #0a0a0a;
    text-align: center;
}
.container-two p{
    line-height: 20px;
    margin: 0;
    padding: 5px;
    padding-bottom: 10px;
    text-align: center;
    line-height: 20px;
    font-size:14px;
    font-weight: 100px;
}
.container-two button{
    width: 100px;  
}
.container-two button a{
    color: #000000;
    font-size: 12px;
    

}
/* ontainer-three----------------------- */
.container-three h3{
    font-size: 30px;
    padding-bottom: 10px;
}
.container-three p{
    line-height: 35px;
}
.container-three{
    display: flex;
    padding: 0 10px;
    margin-top: 50px;
    width: 100%;
}
.text-col-three{
    background-color: #F5CAC3;
    width: 50%;
    align-items: center;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    
}
.img-col-three{
    width: 50%;
    margin-bottom: -4px;
}
.img-col-three img{
    width: 100%;
}
.container-three button{
    margin: 20px 5px;
}
/* container-four------------------- */
.container-four{
    display: flex;
    padding: 0 10px;
    margin-top: 50px;
    width: 100%;
}
.text-col-four{
    background-color: #D6DA6C;
    width: 50%;
    align-items: center;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}
.container-four button{
   
}
.text-col-four h3{
    font-size: 30px;
    margin: 0;
    padding: 20px;
}
.text-col-four p{
    margin: 0;
    padding: 10px;
    line-height: 30px;
    margin-bottom: 10px;
}
.img-col-four{
    width: 50%;
    margin-bottom: -4px;
}
.img-col-four img{
    width: 100%;

}
/* ********* Container five */

.container-five{
    display: flex;
    padding: 0 10px;
    margin-top: 50px;
    width: 100%;
}
.text-col-five{
    background-color: #DAE6F3;
    width: 50%;
    align-items: center;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    
}
.img-col-five{
    width: 50%;

}
.img-col-five img{
    width: 100%;
    margin-bottom: -4px;
}
.container-five h3{
    font-size: 30px;
}
.container-five p{
    line-height: 30px;
    margin-bottom: 20px;
    padding-top: 20px;
}

/* div-t&c--------- */

.div-tc{
    align-items: center;
    text-align: center;
    padding: 50px;
    

}
.div-tc-one{
    align-items: center;
    text-align: center;
    padding: 50px;
    border-bottom:2px solid rgb(190, 187, 187) ;

}
/* link-containor--------------- */

.link-containor{
    display: flex;
    padding: 20px;
    font-weight: 200;
    
}
.link-containor h3{
    margin: 0;
    padding-left: 10px;
    color: #0f1310;
    font-size: 17px;
    font-weight: 400;
}
.link-containor .about ,.careers, .social,.Business,.Order{
    padding: 20px;
    text-decoration: none;
}
.link-containor ,.about,  li{
    list-style-type:none ;
    text-decoration: none;
    padding: 10px;
}
.link-containor ,  a{
text-decoration: none;
color: #585b59;
}

/* social--------------- */
.social{
    display: flex;
    padding-left:30px ;

}
.social img{
    width: 40px;
    padding: 5px;
}
/* privacy----------- */
.privacy{
    display: flex;
    padding: 10px;
    padding-left: 30px;
}
.privacy a{
    text-decoration: none;
   color: #1a1b1a;
}
.last{
   padding: 10px;
   margin-bottom: 20px;
   margin-top: 20px;
   margin-left:20px ;
   font-size: 13px;
   color: #585b59;
}